@using POC.Web.Extensions
@using POC.Negocio.Enumerador

@model MaterialViewModel
@{
    IEnumerable<MaterialViewModel> lista = (IEnumerable<MaterialViewModel>)ViewData["Material"];
}

<div class="container">
    <div id="alerta"></div>
    <div class="row gap-3 clearfix">
        <input type="hidden" id="id" value="@Model.Id" />
        <div class="col-12">
            <input class="form-control" id="codigo" value="@Model.Codigo" placeholder="Código" />
        </div>
        <div class="col-12">
            <input class="form-control" id="nomeMaterial" value="@Model.NomeMaterial" placeholder="Nome do material" />
        </div>
        <div class="col-12">
            <select class="form-select" asp-for="UnidadeMedida" asp-items="Html.GetEnumSelectList<UnidadeMedida>()" value="@Model.UnidadeMedida" id="unidadeMedida">
                <option value="">Selecione a unidade de medida</option>
            </select>
        </div>
    </div>
    <div style="margin-bottom: 10px">
        <button class="btn btn-primary" id="salvar">Salvar</button>
    </div>


    <div class="row">
        <div class="col-12">
            @(Html
                .Grid(lista)
                .Build(columns =>
                {
                    columns.Add(x => x.Codigo).Titled("Código");
                    columns.Add(x => x.NomeMaterial).Titled("Nome do material");
                    columns.Add(x => x.UnidadeMedida.ToString()).Titled("Unidade de Medida");
                    columns.Add().RenderedAs(x => (
                    Html.ActionLink("Editar", "Buscar", new { Id = x.Id }, new { @class = "btn btn-primary" }).ToHtmlString()
                    + ($"<button style='margin-left: 10px' class='btn btn-danger' onclick='Modal({x.Id})'>Excluir</button>")
                    )).Encoded(false).Titled("ação");
                })
                .Using(GridFilterMode.Header)
                .Empty("No data found")
                .Pageable()
                )
        </div>

    </div>
</div>

<div id="modalExcluir" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Atenção</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idMaterial" />
                <p>Desesa excluir esse material</p>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="Excluir()" class="btn btn-danger">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/Material.js" asp-append-version="true" />